<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Graph Dashboard</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/background-image-devops.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="home-bg">
    <nav class="navbar navbar-default no-margin  navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
              <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="http://graph.local.lftechhnology.com" title="DevOps"><img src="../static/images/hydra_logo.png" width="40px" height="40px" margin-left="auto" margin-right="auto"></a>
            <div class="dashboard_text"><h5>Dasbhoard <b>V1.0</b></h5></div>
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
        </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper" class="homepage">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="http://graph.local.lftechnology.com/wlink"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span> Wlink</a>
                </li>
                <li>
                    <a href="http://graph.local.lftechnology.com/subisu"><span class="fa-stack fa-lg pull-left"><i class="fa fa-folder fa-stack-1x "></i></span> Subisu</a>
                </li>
                <li>
                    <a href="http://graph.local.lftechnology.com/cactigraph"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span> Cacti</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div class="background_image_front">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <h2>Cacti</h2>
                            <h3>Upload &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Download</h3>
                            <img class="graphs" src="/static/images/cacti_upload1">
                            <img class="graphs" src="/static/images/cacti_download1"><br/>
                            <h2>Subisu</h2>
                            <h3>Upload &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Download</h3>
                            <img class="graphs" src="/static/images/subisu_uploadlast12hrs">
                            <img class="graphs" src="/static/images/subisu_downloadlast12hrs"><br/>
                            <h2>Wlink</h2>
                            <h3>Charkhal &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Gyaneshwor</h3>
                            <img class="graphs" src="/static/images/charkhal0">
                            <img class="graphs" src="/static/images/gyaneshwor0"><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/sidebar_menu.js"></script>
</body>

</html>
