<!DOCTYPE html>
<html>
<head>
	<title> Subisu Grapher Page </title>
</head>
<body>
<h2>Last 12 Hrs</h2>
<img src="../static/images/subisu_uploadlast12hrs">
<img src="../static/images/subisu_downloadlast12hrs"><br/>
<h2>Last 24 Hrs</h2>
<img src="../static/images/subisu_uploadlast24hrs">
<img src="../static/images/subisu_downloadlast24hrs"><br/>
<h2>This Week</h2>
<img src="../static/images/subisu_uploadthisweek">
<img src="../static/images/subisu_downloadthisweek"><br/>
<h2>Last 7 Days</h2>
<img src="../static/images/subisu_uploadlast7days">
<img src="../static/images/subisu_downloadlast7days"><br/>
<h2>This Month</h2>
<img src="../static/images/subisu_uploadthismonth">
<img src="../static/images/subisu_downloadthismonth"><br/>
<h2>Last Month</h2>
<img src="../static/images/subisu_uploadlastmonth">
<img src="../static/images/subisu_downloadlastmonth"><br/>
<h2>This Year</h2>
<img src="../static/images/subisu_uploadthisyear">
<img src="../static/images/subisu_downloadthisyear"><br/>


</body>
</html>

<!-- period_choice = ['last12hrs','last24hrs', 'thisweek', 'last7days', 'thismonth', 'lastmonth', 'thisyear'] -->
